body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("../img/ft.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.logo {
    width: 400px;
    height: 150px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

body > img {
    margin: 0 10px;
}

#catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.singleFilm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #191c29;
    width: 182px;
    height: 268px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}

#catalogo img {
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.singleFilm span {
    color: white;
    text-transform: capitalize;
    font-size: 1em;
    text-align: center;
}

.operacao {
    color: white;
    position: relative;
}

.close {
    cursor: pointer;
    top: 45%;
    padding: 3px 9px;
    margin-left: 5px;
    transform: translate(0%, -50%);
}

.close:hover {
    background: #bbb;
}

.btnGroup {
    margin: 15px;
}

.btnGroup button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #7a0d12;
    color: #fff;
}

.btnGroup button:hover {
    background-color: #da1e26;
    cursor: pointer;
}
