{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Registro de Pasajeros</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'CSS/estilosMenu.css' %}">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <nav class="nav">
                <ul class="list">
        
                  <li class="list__item">
                    <div class="list__button">
                      <a href="{% url 'IngresoPasajeros' %}" class="nav__link">Registro Pasajeros</a>
                    </div>
                </li>
    
                  <li class="list__item">
                    <div class="list__button">
                      <a href="{% url 'IngresoHabitaciones'%}" class="nav__link"
                        >Ingresar Habitaciones</a>
                    </div>
                  </li>
    
                  <li class="list_item list_item--click">
                    <div class="list_button list_button--click">
                      <a href="{% url 'ListadoPasajeros'%}" class="nav__link"
                        >Historial de Pasajeros</a
                      >
                    </div>
                  </li>
    
                  <li class="list_item list_item--click">
                    <div class="list_button list_button--click">
                      <a href="{% url 'login_gerente'%}" class="nav__link"
                        >Cerrar Sesion</a
                      >
                    </div>
                    </li>
                </ul>
            </nav>
        </div>

 <div class="col-md-8">
    <h1>Registro de Pasajeros</h1>
  
    <form action="{% url 'IngresoPasajeros' %}" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" id="nombre" name="nombre" class="form-control" required>
      </div>
    
      <div class="mb-3">
        <label for="rut" class="form-label">RUT:</label>
        <input type="text" id="rut" name="rut" class="form-control" required>
      </div>
    
      <div class="mb-3">
        <label for="habitaciones" class="form-label">Habitación:</label>
        <select id="habitaciones" name="habitaciones" class="form-select" required>
          {% for habitacion in habitaciones %}
            {% if habitacion.estado == 'Disponible' %}
              <option value="{{ habitacion.id }}" style="color: black;">{{ habitacion.nro_habitacion }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      
      
    
      <input type="submit" class="btn btn-primary" value="Asignar Habitación">
    </form>
    <hr>
    <h2>Lista de Habitaciones</h2>
    {% if habitaciones %}
    <table class="table">
      <thead>
        <tr>
          <th>Número</th>
          <th>Orientación</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for habitacion in habitaciones %}
          <tr>
            <td>{{ habitacion.nro_habitacion }}</td>
            <td>{{ habitacion.orientacion }}</td>
            <td>{{ habitacion.estado }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
     {% else %}
            <h3 class="text-center text-red" style="color: red;">Aun no tiene Habitaciones...!!!</h3>
     {% endif %}
    </div>
  </div>
</div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

